PORT=4000
MBTA_API_BASE_URL=https://api-v3.mbta.com
MBTA_API_KEY=
DATABASE_URL=postgres://postgres:postgres@localhost:5432/linelight
GTFS_URL=https://cdn.mbta.com/MBTA_GTFS.zip
SITE_URL=http://localhost:3000
MBTA_TIMEZONE=America/New_York
STRIPE_MODE=test
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_TEST_PUBLISHABLE_KEY=
STRIPE_TEST_SECRET_KEY=
STRIPE_CHECKOUT_WEBHOOK_SIGNING_SECRET=
